.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player {
  position: absolute;
  background-color: green;
}

.player-1, .player-3 {
  width: 20%;
  height: 40%;
}

.player-2, .player-4 {
  width: 40%;
  height: 20%;
}

.player-1 {
  left: 20px;
  top: 30%;
}

.player-2 {
  top: 20px;
  left: 30%;
}

.player-3 {
  right: 20px;
  top: 15%;
}

.player-4 {
  bottom: 20px;
  left: 30%;
}
